<form class="form-horizontal" action="/phone/output" method="GET">
	<div class="control-group">
		<label class="control-label" for="name">이 름</label>
		<div class="controls">
			<input type="text" id="name" name="name" placeholder="이 름">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="phone">전화번호</label>
		<div class="controls">
			<input type="text" id="phone" name="phone" placeholder="전화번호">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Send</button>
		</div>
	</div>
</form>
