<form class="form-horizontal" action="/email/output" method="GET">
	<div class="control-group">
		<label class="control-label" for="name">이 름</label>
		<div class="controls">
			<input type="text" id="name" name="name" placeholder="이 름">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="email">이메일</label>
		<div class="controls">
			<input type="text" id="email" name="email" placeholder="이메일">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Send</button>
		</div>
	</div>
</form>
