
<div class="page-header">
  <h1>Contact</h1>
</div>

<form class="form-horizontal" action="/contact/output" method="GET">
	<div class="control-group">
		<label class="control-label" for="subject">제 목</label>
		<div class="controls">
			<input type="text" id="subject" name="subject" placeholder="제 목">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="content">내 용</label>
		<div class="controls">
			<textarea rows="3" id="content" name="centent" placeholder="내 용"></textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Send</button>
		</div>
	</div>
</form>
